@import url('https://js.arcgis.com/4.8/esri/css/main.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.mapa {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-top: 25px;
}

.jumbotron {
    background-color: #2F3241 !important;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    height: 75vh;
}

a {
    color: #9FEAF9 !important;
}

a:hover {
    color: #7ae2f7 !important;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    transition: opacity 200ms;
}

.tooltip>div {
    margin: 0 auto;
    padding: 12px;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    transform: translate3d(-50%, -125%, 0);
    color: white;
    background-color: #2B2E3B;
    border: 1px solid black;
    /*opacity: 0.95;*/
}

hr {
    width: 75%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    max-width: 90%;
}

.text-emph {
    color: #9FEAF9;
}

.esri-legend--card.esri-widget, .esri-widget--button {
    background-color: #2F3241 !important;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
}

.esri-widget--button {
    color: #9FEAF9 !important;
}

.esri-component.esri-attribution.esri-widget {
    background-color: transparent;
}

.esri-attribution__sources {
    display: none;
}

.esri-widget__header.esri-legend--card__carousel-title {
    display: none;
}

.esri-legend--card__label-cell {
    color: white;
}

.esri-legend--card__layer-caption {
    color: #9FEAF9 !important;
}



/*.esri-widget {*/
    /*background-color: transparent;*/
/*}*/





